{% extends 'base.html.twig' %}

{% block title %}Product index
{% endblock %}

{% block body %}
	{% if is_granted("IS_AUTHENTICATED_FULLY") %}
		{% else %}
			<a href="{{ path('app_login') }}" class="btn btn-lg btn">
				login
			</a>
			<a href="{{ path('app_register') }}" class="btn btn-lg btn">
				Register
			</a>
	{% endif %}
	{% if is_granted("IS_AUTHENTICATED_FULLY") %}
		<a class="btn btn me-2" href="{{ path('app_logout')}}" role="alert">Déconnexion
		</a>
	{% endif %}
	<h1>Product List</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>TitleProduct</th>
				<th>Description</th>
				<th>Price</th>
				<th>Is_available</th>
				<th>Packaging</th>
				<th>Stock_product</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
				<tr>
					<td>{{ product.id }}</td>
					<td>{{ product.titleProduct }}</td>
					<td>{{ product.description }}</td>
					<td>{{ product.price }}€</td>
					<td>{{ product.isAvailable ? 'Yes' : 'No' }}</td>
					<td>{{ product.packaging ? 'Yes' : 'No' }}</td>
					<td>{{ product.stockProduct }}</td>
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						<td>
							<a href="{{ path('product_show', {'id': product.id}) }}">show</a>
							<a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
						</td>
					{% endif %}
				</tr>
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<a href="{{ path('product_new') }}">Create new</a>
	{% endif %}
	{# <a href="{{ path('product_new') }}">Ajouter au panier</a> #}
{% endblock %}
