{% extends 'base.html.twig' %}

{% block title %}Adress index{% endblock %}

{% block body %}
    <h1>Adress index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Country</th>
                <th>City</th>
                <th>PostCode</th>
                <th>Street</th>
                <th>Num_street</th>
                <th>Additional_street</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adress in adresses %}
            <tr>
                <td>{{ adress.id }}</td>
                <td>{{ adress.country }}</td>
                <td>{{ adress.city }}</td>
                <td>{{ adress.postCode }}</td>
                <td>{{ adress.street }}</td>
                <td>{{ adress.numStreet }}</td>
                <td>{{ adress.additionalStreet }}</td>
                <td>
                    <a href="{{ path('adress_show', {'id': adress.id}) }}">show</a>
                    <a href="{{ path('adress_edit', {'id': adress.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('adress_new') }}">Create new</a>
{% endblock %}
