{% extends 'base.html.twig' %}

{% block title %}Adress{% endblock %}

{% block body %}
    <h1>Adress</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adress.id }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ adress.country }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ adress.city }}</td>
            </tr>
            <tr>
                <th>PostCode</th>
                <td>{{ adress.postCode }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ adress.street }}</td>
            </tr>
            <tr>
                <th>Street_num</th>
                <td>{{ adress.streetNum }}</td>
            </tr>
            <tr>
                <th>Additional_street</th>
                <td>{{ adress.additionalStreet }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('adress_index') }}">back to list</a>

    <a href="{{ path('adress_edit', {'id': adress.id}) }}">edit</a>

    {{ include('adress/_delete_form.html.twig') }}
{% endblock %}
